.name-container {
  width: 35%;
  height: 40px;
  margin-left: 400px;
  margin-top: 70px;
  border-radius: 50px;
  background-color: white;
  border: 2px solid rgb(8, 138, 198);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay-container {
  position: absolute;
  margin-top: 10px;
  top: 23%;
  left: 50%;
  width: 15%;
  transform: translate(-50%, -50%);
  background-color: rgb(8, 138, 198);
  padding: 10px;
  border-radius: 20px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}


